body {
	background-color: #fff;
	font-family: 'merriweather_sanslight', Arial, sans-serif;
  /* Location of the image */
  background-image: url(bg.png);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
}

@font-face {
    font-family: 'lobster_handregular';
    src: url('fonts/lobsterhand-webfont.woff2') format('woff2'),
         url('fonts/lobsterhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'merriweather_sanslight';
    src: url('fonts/merriweather/merriweathersans-light-webfont.woff2') format('woff2'),
         url('fonts/merriweather/merriweathersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'lobster_handregular';
	color: #333;
	padding-top: -100px;
	text-align: center;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 650px;
}

.row {
	margin: 0;
	padding: 0;
}

.header {
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0 auto;
	max-width: 450px;
}

img {
	max-width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	background-color: #fefefe;
	margin-bottom: 60px;
}

.jumbotron p {
	font-size: 14px;
	text-align: center;
}


.loginBox .btn {        
    font-weight: bold;
	background: #00b185;
    border-radius: 3px;
	border: none;
	min-width: 140px;
    outline: none !important;
    font-family: 'lobster_handregular';
    max-height: 52px;
}

.loginBox .btn p {
	font-size: 25px;
	letter-spacing: 0.75px;
}

.loginBox .btn:hover, .loginBox .btn:focus {
	background: #179b81;
}

.loginBox .hint-text {
	text-align: center;
	padding-top: 5px;
	font-size: 13px;
}

.container .boxFooter {
	color: #999;
	border-color: #dee4e7;
	border-top: 1px;
	text-align: center;
	margin: 0 -25px -25px;
	font-size: 13px;
	justify-content: center;
	padding-bottom: 20px;
}

.container .jumbotron {
	color: #999;
	border-radius: 7px;
	margin-bottom: 15px;
    background: #fff;
	border: 0px solid #004677;
    padding: 25px;
}

.container .form-group {
	margin-bottom: 20px;
}

..container label {
	font-weight: normal;
	font-size: 13px;
}

.container .form-control {
	min-height: 38px;
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
}

.container .form-control:focus {
	border-color: #ccc;
}

.input-group-addon {
		max-width: 42px;
		text-align: center;
		background: none;
		border-width: 0 0 1px 0;
		padding-left: 5px;
		padding-right: 12px;
		padding-top: 7.5px;
		border-radius: 0;
		font-size: 24px;
	}

.container a:hover {
		text-decoration: none;
	}

.container a {
	color: #00b185;
	text-decoration: none;
}	

.container a:hover {
	text-decoration: underline;
}

.footer p {
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.footer a {
	color: #fff;
}
