body {
	background-color: rgba(0, 0, 0, 1);
}

h1 {
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;

}

p {
	font-family: 'Hind Siliguri', sans-serif;

}

img {
	width: 417px;
	height: 344px;
	margin: 10px;
}

.pistol {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px;
	margin-bottom: -15px;
}

.navbar { 
	font-family: 'Hind Siliguri', sans-serif;
}

.dropdown-item {
	font-family: 'Hind Siliguri', sans-serif;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: bg-dark;
color:yourLinkColor;
}

.container {
	display: flex;
	justify-content: center;
}

.col {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin-top: 10px;
}

.footer {
	margin-top: 30px;
	background-color: rgba(131, 114, 114, 1);
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	padding-top: 20px;
}